@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
	  -moz-appearance: textfield; /* Firefox */
	}
}

@layer utilities {
	.toggle-switch span span {
		display: none;
	}

	.toggle-switch {
		display: inline-block;
		height: 18px;
		position: relative;
		overflow: visible;
		padding: 0;
		cursor: pointer;
		width: 200px;
		border: 1px solid #ccc;
		border-radius:5px;
		height:34px;
	}
	.toggle-switch * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.toggle-switch label,
	.toggle-switch > span {
		line-height: 20px;
		height: 20px;
		vertical-align: middle;
	}
	.toggle-switch input:focus ~ a,
	.toggle-switch input:focus + label {
		outline: none;
	}
	.toggle-switch label {
		position: relative;
		z-index: 3;
		display: block;
		width: 100%;
	}
	.toggle-switch input {
		position: absolute;
		opacity: 0;
		z-index: 5;
	}
	.toggle-switch > span {
		position: absolute;
		left: 0;
		width: calc(100% - 6px);
		margin: 0;
		text-align: left;
		white-space: nowrap;
		margin:0 3px;
	}
	.toggle-switch > span span {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		display: block;
		width: 50%;
		margin-left: 50px;
		text-align: left;
		font-size: 0.9em;
		width: auto;
		left: 0;
		top: -1px;
		opacity: 1;
		width:40%;
		text-align: center;
		line-height:34px;
	}
	.toggle-switch a {
		position: absolute;
		right: 50%;
		z-index: 4;
		display: block;
		top: 3px;
		bottom: 3px;
		padding: 0;
		left: 3px;
		width: 50%;
		background-color: #666;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	.toggle-switch > span span:first-of-type {
		color: #FFF;
		opacity: 1;
		left: 0;
		margin: 0;
		width: 50%;
	}
	.toggle-switch > span span:last-of-type {
		left: auto;
		right: 0;
		color: #999;
		margin: 0;
		width: 50%;
	}
	.toggle-switch > span:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: -2px;
		border-radius: 30px;
	}
	.toggle-switch input:checked ~ a {
		left: calc(50% - 3px);
	}
	.toggle-switch input:checked ~ span span:first-of-type {
		left: 0;
		color: #999;
	}
	.toggle-switch input:checked ~ span span:last-of-type {
		color: #FFF;
	}
}
